@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,500,500i,600,600i,700,700i |Cormorant+SC:400,500,600,700');

/*---------------General CSS-------------------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*CSS for header*/
header {
  z-index: 999;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  position: fixed;
  padding: 20px ;
  margin: 0;
  transition: top 0.3s;
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/*CSS for the logo*/
header .brand {
  margin-left: 200px;
  color: #333;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

/*CSS for the toggle button for opening up the overlay navbar*/
header .toggle_button {
  margin-right: 200px;
}

/*CSS for the overlay effect*/
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

/*CSS for the overlay navbar*/
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

/*Individual links on the navbar*/
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/*Add a hover effect when the users hover over the link navbar links*/
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/*Style the close button for closing up the overlay navbar*/
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/*General css for the background videos on the important pages*/
.home_page_vid video{
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.hyperlink {
  color: green;
}



/*------------------CSS for home page------------------------*/
 .maincontent_f_home {
  min-height: auto;
  overflow: hidden;
  margin-top: 650px;
  height: auto;
}

/*CSS for the main contents across all pages*/
.content_wise {
  width: 50%;
  float: left;
  text-align: left;
  margin-left: 200px;
  font-size: 17px;
}

/*CSS for the sub contents of the page, such as the title for the section*/
.content_wise_sub {
  margin-top: 100px;
  margin-bottom: 100px;
}

/*Specify the font size for the title fo the content section*/
.title_f_content_f_home{
  font-size: 50px;
}

/*Parallax scrolling effect css for the home page*/
.parallax_f_home {
  margin-top: 700px;
  /* The image used */
   background-image: url("images/pexels-flo-maderebner-869258.jpg"); 

  /* Set a specific height */
   min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 



/*--------------------------Media query for Home page-------------------------------------*/
/*Specify when the screen size is at 320px max*/
@media screen and (max-width: 320px) {
  * {
    overflow-x: hidden;
  }
  .maincontent_f_home {
    margin-top: 500px;
    margin-left: 10px;
    justify-content: center;
  }
  .content_wise {
    margin-top: 0%;
    float: left;
    width: 100%;
    margin-right: 400px;
    margin-left: 0%;
    justify-content: center;
  }
  .content_wise p {
    font-size: 15px;
  }
  .parallax_f_home {
    float: left;
    width: 300px;
    margin-left: 0%;
    padding: 0%;
    margin-top: 25px;
    background-attachment: scroll;
  }
}
/*Specify when the screen size is at 768px max*/
@media screen and (min-width: 768px) and (max-width: 900px){
  .maincontent_f_home {
    margin-top: 500px;
  }
  .content_wise {
    margin-top: 0%;
  }
  .parallax_f_home {
    float: left;
    margin-top: 40px;
    justify-content: center;
    width: 100%;
  }
}

/*--------------------------------------Ski weeks css-------------------------------------------*/
/*Style the main content for ski weeks page*/
.main_content_f_skiweeks {
  height: auto;
  margin-top: 555px;
  background-color: black;
  justify-content: center;
  margin-bottom: 0;
}

/*Style the quote*/
.quote_itself {
  display: block;
  text-align: center;
  padding: 130px;
  font-size: 45px;
  color: white;
}

/*Style the images*/
.image_f_comb_f_skiweeks img {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

/*Style the content section on ski weeks page, due to the change in background color, I had to make a seprate css block just to optimize the content shows on this page*/
.content_wise1 {
  margin-top: 125px;
  width: 50%;
  text-align: left;
  margin-left: 200px;
  font-size: 17px;
  color: white;
}

/*Style the membership pricing cards*/
.membership_pricing_tables {
  margin-top: 100px;
  margin: 50px;
  height: auto;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 33.3%;
  padding: 0 50px 50px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 0;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  height: 450px;
}

/*Style the images on top of each card*/
.card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

/*Style each of the bullet points*/
.card li {
  padding: 10px;
  padding-left: 20px;
  text-align: left;
}

/*Style the buttons on the cards*/
.card button {
  background-color: green;
  color: white;
  padding: 8px;
  border: none;
  width: 70%;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*Style the horizontal line that divides between content section and the footer*/
.skiweeks_hr {
  margin-top: 40px;
  width: 100%;
  line-height: 2px;
  margin-right: 0%;
}

/*--------------Media query for skiweeks page----------------------*/
/*Specify the screen size when it is at 320px max*/
@media screen and (max-width: 320px){
  .main_content_f_skiweeks {
    justify-content: center;
    margin: 400px 0;
    width: 100%;
    right: 0%;
    overflow-x: hidden;
    margin-bottom: 0%;
  }
  .quote_itself {
    margin-left: 25px;
    padding: 50px;
    margin-right: 1000px;
    font-size: 25px;
    float: left;
    margin-bottom: 100px;
  }
  .image_f_comb_f_skiweeks {
    justify-content: center;
    margin-left: 10px;
    width: 300px;
    padding: 0%;
  }
  .image_f_comb_f_skiweeks img {
    float: left;
    width: 100%;
    height: 300px;
    margin-left: 0%;
    padding: 0%;
  }
  .content_wise1 {
    justify-content: center;
    margin-left: 80px;
  }
  .membership_pricing_tables {
    margin: 0%;
  }
  .column {
    float: left;
    width: 100%;
    margin: 0%;
  }
}
/*Specify the screen size when it is at 768px max*/
@media screen and (min-width: 768px) and (max-width: 900px){
  .main_content_f_skiweeks {
    padding-top: 100px;
    margin-top: 200px;
  }
  .quote_itself {
    padding-top: 300px;
  }
  .image_f_comb_f_skiweeks img {
    width: 500px;
  }
  .row {
    padding: 0%;
  }
  .column {
    float: left;
    width: 35%;
    margin: 50px;
  }
  .card {
    width: 200px;
  }
  .card button {
    margin-top: 5px;
  }
}


/*---------------------------------Accomodation page CSS--------------------------------------------*/
/*Style the main content for accomodation page*/
.main_content_f_accomodation {
  margin-top: 555px;
  
}

/*Style the quote on this page*/
.quote_f_aco {
  padding: 110px;
  font-size: 40px;
  color: black;
  text-align: center;
}

/*Style the container that contains all the lodge booking information and other stuff*/
.lodge_info_and_rates {
  margin-left: 200px;
  margin-left: 200px;
}

/*Style the title for the pricing tables*/
.lodge_info_and_rates .title_f_acc {
  color: black;
  padding: 80px;
}

/*Style the horizonal lines that divides between each booking options*/
hr {
  line-height: 2px;
  width: 80%;
}

/*Style a 2 column layout for displaying the lodge images*/
.column_f_lodge_table {
  float: left;
  width: 50%;
  justify-content: center;
}

/*Style to display the pricings and booking buttons*/
.column_f_lodge_table p button{
  right: 100px;
}
/* Clear floats after the columns */
.row_f_lodge_table:after {
  content: "";
  display: table;
  clear: both;
}

/*Specify the displaying size of the image*/
.column_f_lodge_table img {
  width: 70%;
}

/*Styling the button*/
.column_f_lodge_table .content_f_lodge button {
  display: block;
  position: relative;
  margin-top: 100px;
}

/*Styling the button*/
.column_f_lodge_table button {
  margin-top: 100px;
  background-color: green;
  color: white;
  border: none;
  width: 30%;
  height: 50px;
}

/*Style the gallery link scrolling effect*/
.gallery_link {
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: center;
  text-align: center;
  /* The image used */
  background-image: url("images/Lodge-2-25-6-2020.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery_link {
  justify-content: center;
  display: flex;
}

/*Style the container that hovers on top of the parallax effect*/
.gallery_link .link_board {
  border-radius: 20px;
  margin: 150px;
  z-index: 000;
  height: 300px;
  width: 50%;
  background-color: white;
  opacity: 0.5;
  color: black;
}

/*Style the link*/
.link_board a {
  list-style: none;
}

.link_board .title_gallery {
  padding: 100px;
  text-align: center;
}

/*------------------Media query for accomodation page------------------------------*/
/*When the screen size is at 320px max*/
@media screen and (max-width:320px) {
  .main_content_f_accomodation {
    overflow-x: hidden;
    margin-top: 250px;
  }
  .quote_f_aco {
    margin-top: 20px;
    margin-left: 0%;
    text-align: center;
    font-size: 25px;
  }
  .lodge_info_and_rates {
    margin: 10px 20px;
  }
  .lodge_info_and_rates .title_f_acc {
    text-align: center;
    margin-left: 0;
  }
  .column_f_lodge_table {
    justify-content: center;
    
  }
  .column_f_lodge_table {
    width: 100%;
  }
  .column_f_lodge_table img {
    width: 100%;
    height: 200px;
  }
  .column_f_lodge_table button {
    margin-top: 0px;
    margin-right: 400px;
    width: 100px;
    margin-left: 0;
    position: absolute;
    display: inline-block;
  }
  hr {
    margin-top: 50px;
  }
  .gallery_link {
    justify-content: center;
  }
  .gallery_link .link_board {
    width: 300px;
    padding: 0;
    margin: 100px 0;
  }
}
/*When the screen size is at 768px max*/
@media screen and (max-width: 768px) {
  * {
    overflow-x: hidden;
  }
  .quote_f_aco {
    padding-top: 300px;
  }
  .main_content_f_accomodation {
    margin-left: 0;
    margin-right: 0;
  }
  .row_f_lodge_table {
    margin-right: 300px;
    width: 800px;
  }
  .column_f_lodge_table img {
    width: 300px;
  }
  .column_f_lodge_table .content_f_lodge {
    width: 100px;
  }
}

/*--------------------------------------Gallery page CSS---------------------------------------------*/
/*Parallax scrolling effect on gallery page*/
.parallax_gallery {
  /* The image used */
  background-image: url("images/OSC lodge photos gallery/IMG_1840-rotated.webp");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Style the container*/
.gallery_showcase {
  margin: 100px;
}

.row_f_gallery > .column_f_gallery {
  padding: 0 8px;
}

.row_f_gallery:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column_f_gallery {
  float: left;
  width: 25%;
}

/*Specify the width of each column section*/
.column_f_gallery img {
  width: 350px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 100px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*-------------------Media query for Gallery page----------------------------*/
/*When the screen size is at 320px max*/
@media screen and (max-width: 320px) {
  .gallery_showcase {
    margin-left: 10px;
    margin-right: 10px;
  }
  .row_f_gallery {
    margin: 0;
    content: "";
    display: table;
    clear: both;
  }
  .column_f_gallery {
    float: left;
    width: 50%;
  }
  .modal {
    top: 40px;
  }
  .modal-content {
    top: 60px;
  }
  .column_f_gallery img {
    height: 200px;
    width: 250px;
  }
  .mySlides {
    height: 250px;
  }
  .close:hover .close:focus {
    margin-top: 40px;
    top: 200px;
  }
}

/*-----------------------------------Contact page CSS------------------------------------------------*/
/*Style the parallax scrolling effect for contact page*/
.contact_showcase {
  /* The image used */
  background-image: url("images/08_all.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Style the main content section for contact page*/
.main_content_f_contact {
  padding: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Style the findus section (Create a 2 column layout**/
.findus_content {
  float: left;
  padding: 10px;
  height: 300px;
}

/*Style the left part of the findus section*/
.left {
  width: 50%;
}

/*Style the right part of the findus section */
.right {
  width: 50%;
}

/*Create the row to contain the 2 columns*/
.findus_section {
  content: "";
  display: table;
  clear: both; 
}

/*Style the google map, e.g. width, position*/
.embedded_map {
  margin: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
}

/*Style the map itself*/
.embedded_map iframe {
  border: 0;
  width: 1000px;
}

/*Style teh accordian question area*/
.question_area {
  margin: 100px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  overflow: hidden;
}


@media screen and (max-width: 320px) {
  .main_content_f_contact {
    margin: 0;
  }
  .findus_section {
    padding: 0%;
    content: "";
    display: table;
    clear: both; 
    justify-content: center;
  }
  .left {
    margin: 0 1px;
    width: 100%;
  }
  .right {
    width: 100%;
  }
  .right img {
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    width: 300px;
    height: 150px;
  }
  .findus_content {
    float: left;
    text-align: center;
    padding: 0;
    margin-right: 50px;
    height: auto;
  }
  .embedded_map {
    margin: 10px;
  }
  .embedded_map iframe {
    margin-right: 400px;
    width: 400px;
  }
  .container_f_contactform {
    justify-content: center;
    margin: 10px 10px;
    float: left;
  }
  .question_area {
    margin: 10px;
  }
}

@media screen and (max-width: 768px) {
  .main_content_f_contact {
    margin: 10px 10px;
  }
  .embedded_map {
    justify-content: center;
    align-items: center;
  }
  .embedded_map iframe {
    margin-left: 10px;
    width: 1000px;
    margin-right: 10px;
  }
}


/*----------------------------------generic footer area CSS------------------------------------------*/

.footer_f_skiweeks {
  margin-top: 0;
  padding: 0;
}

/*create a container for the footer*/
.container_f_footer {
	max-width: 1170px;
	margin: auto;
}

/*style each row of the footer*/
.row_f_footer {
	display: flex;
	flex-wrap: wrap;
}

/*style each bullet point of the footer*/
ul {
	list-style: none;
}

/*style the footer in general*/
.footer {
	background-color: black;
	padding: 90px 0;
}

/*style each section of the footer*/
.footer-col {
  margin-top: 20px;
	width: 20%;
	padding: 0 15px;
}

/*style h4 part of the footer*/
.footer-col h4 {
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

/*hover effect of the h4 part of the footer*/
.footer-col h4::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #0F97AD;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

/*style each button point (hover effect) */
.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

/*style each element of each bullet point that is in the footer*/
.footer-col ul li a {
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

/*style each bullet point and create a hover effect for them*/
.footer-col ul li a:hover {
	color: #ffffff;
	padding-left: 10px;
}

/*style each soical link element in the footer*/
.footer-col .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.2s ease;
}

/*create hover effects for each social link of the footer*/
.footer-col .soical-links a:hover {
	color: #24262b;
	background-color: #ffffff;
}

/*style the footer bottom*/
.footer-bottom {
	text-align: center;
	color: #ffffff;
	width: 100vw;
	padding: 20px 0;
	margin-top: 50px;
	background-color: #000;
}

/*style the footer bottom texts*/
.footer-bottom p{
	font-size:14px;
	word-spacing: 2px;
	text-transform: capitalize;
}

/*create a hover effect for the footer bottom text, so every time when you click it, the texts would turn to yellow from white*/
.footer-bottom:hover {
	color: #ECAB07;
}




/*--------------------Media query for contents acrossing all pages---------------------------------*/
@media screen and (max-width: 320px) {
  header .brand{
    margin: 5px 10px;
  }
  header .toggle_button {
    margin: 5px 10px;
  }
  .footer-col {
    width: 50%;
    margin-top: 20px;
  }
  .home_page_vid video {
    height: 65%;
  }
}
@media screen and (min-width: 768px) and (max-width: 900px) {
  .footer-col h4 {
    font-size: 23px;
  }
  .footer-col ul li a {
    font-size: 20px;
  }
  .footer-col {
    width: 33.3%;
    justify-content: center;
    padding-left: 60px;
  }
  .home_page_vid video {
    height: 50%;
  }
  .content_wise {
    font-size: 30px;
  }
  .content_wise1 {
    font-size: 30px;
  }
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    margin-right: 60px;
    padding-right: 30px;
    margin-left: 10px;
  }
}

/*media query for the overlay effect*/
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

@media screen and (max-height: 600px) {
  header .toggle_button {
    margin-right: 100px;
  }
  header .brand {
    margin-left: 100px;
  }
}









  
  


